@charset "utf-8";


/* ==============================
 * button
 * ============================== */

button:disabled,button:disabled:hover{opacity:0.3; color: #000; background-color: #ccc !important; border-color: #ccc;}
button:disabled:hover:after, button:disabled:after{background-color: #fff !important;}

/* default btn */
.btn{min-width: 76px; height: 26px; line-height: 26px;  padding: 0 10px; font-size: 13px; color: #ffffff; background-color: #999999;}
.btn.cancel{background-color: #b2b2b2;}
.btn.save{background-color: #05141f;}
/* 제출/ 승인 버튼 */
.submit, .confirm{height: 28px; line-height: 28px; border: 1px solid #14222c; border-radius: 20px; padding: 0 30px; font-size: 14px;}
.submit i, .confirm i{padding-right: 5px;}
.submit:hover, .confirm:hover{border: 1px solid #ffffff; color: #ffffff; background-color: #14222c;}