@charset "utf-8";

/* 검색 박스 - 리스트형 */
.searchBoxL .searchBox ul{overflow: hidden; display: block; }

.searchBoxL .searchBox li{float: left; margin-right: 10px; font-size:12px; font-weight: 100; padding:5px 0;}
.searchBoxL .searchBox li:last-child{margin-right: 0;}
.searchBoxL .searchBox .ssTit{display: block; float: left; font-size:13px; padding:5px 5px 5px 0; text-align:right;}
.searchBoxL .searchBox .ssTit2{display: block; float: left; font-size:13px; padding:0px 5px 15px 0; text-align:right;}
.searchBoxL .searchBox .ssBox {display: inline-block; vertical-align: middle;}
.searchBoxL .searchBox div{margin-left: 4px; }
.searchBoxL .searchBox li > .label {padding: 0 15px 0 15px; color: #424242; line-height: 24px; text-align: center; background: #e4e4e7;   }

/* 검색 박스 - 테이블형 */ 
.searchBoxT .searchBox{width: 100%;}
.searchBoxT .searchBox tr th{border: 1px solid #e1e1e1; padding: 10px; font-size: 13px; color: #666666; background-color: #f7f8f8;}
.searchBoxT .searchBox tr td{border: 1px solid #e1e1e1; padding: 0 10px;}

/* 그리드 박스 */
.gridBox{width: 100%;}
.btnBox + .grid{margin-top: 10px;}
.grid tr.selected{outline: 1px solid #313131;}
.sGridBox{position: relative; float: left; width: 100%; margin: 10px; border: 1px solid #dddddd; border-radius: 5px; padding: 10px;}
.sGridBox .sGridTit{position: absolute; top: -9px; left: 15px; display: inline-block; padding: 0 10px; font-size: 14px; line-height: 18px; background-color: #ffffff;}
.sGridBox dl{display: table; width: 100%;}
.sGridBox dl dt, .sGridBox dl dd{display: table-cell; padding: 10px;}

/* 탭 그리드 박스 */
.tabGridBox{width: 100%;}
.tabGridBox .gridTab ul{position: relative; top: 1px;}
.tabGridBox .gridTab ul li{float: left;}
.tabGridBox .gridTab ul li a{display: block; height: 30px; line-height: 30px; border: 1px solid #efefef; border-bottom: 1px solid #cccccc; padding: 0 30px; color: #999999; background-color: #dfdfdf;}
.tabGridBox .gridTab ul li.on a{border-color: #cccccc; border-bottom: none; color: #313131; background-color: #ffffff;}
.tabGridBox .gridTabCont{border: 1px solid #cccccc; padding: 10px;}

/* 그리드 테이블 */
.gridTable{width: 100%; border-top: 2px solid #6d6e71 !important;}

.gridTable tr th{border: 1px solid #d2d2d2; padding: 10px; color: #333; background-color: #f3f3f3;}
.gridTable tr td{border: 1px solid #d2d2d2; padding: 8px 10px; text-align: center;}
.gridTable tr td .fa-folder-open-o{font-size: 14px; font-weight: bold;}
.gridTable tr.parent td.standard{padding-left: 30px;}
.gridTable tr.parent td.standard{position: relative;}
.gridTable tr.parent td.standard i.fa-plus-square,
.gridTable tr.parent td.standard i.fa-minus-square{position: absolute; top: 50%; left: 4px; margin-top: -12px; padding: 4px; font-size: 16px; cursor: pointer;}
.gridTable tr.child td.standard{padding-left: 45px;}
.gridTable tr td.addPop{position: relative; padding-right: 30px;}
.gridTable tr td.addPop i.fa-plus-circle{position: absolute; top: 50%; right: 4px; margin-top: -12px; padding: 4px; font-size: 16px; cursor: pointer;}


/* 게시판 테이블 */
.boradTable{width: 100%;}
.boradTit {width: 100%; text-align: left; line-height: 40px; height: 40px; font-size:16px; font-weight: bold; float: left; border-bottom: 2px solid #05141f; }
.boradTit_more{ display:block ; text-align: right; border:1px solid #ccc; line-height: 28px; padding: 0 5px; font-size:11px; margin-top: 5px; height: 28px; font-weight: bold; float: right;}
.boradTable tr th{border-top: 1px solid #333333; border-bottom: 1px solid #333333; padding: 10px; color: #666666;}
.boradTable tr td{border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; padding: 8px 10px; text-align: center;}
.boradTable tr td .fa-folder-open-o{font-size: 14px; font-weight: bold;}
.boradTable tr.parent td.standard{padding-left: 30px;}
.boradTable tr.parent td.standard{position: relative;}
.boradTable tr.parent td.standard i.fa-plus-square,
.boradTable tr.parent td.standard i.fa-minus-square{position: absolute; top: 50%; left: 4px; margin-top: -12px; padding: 4px; font-size: 16px; cursor: pointer;}
.boradTable tr.child td.standard{padding-left: 45px;}
.boradTable tr td.addPop{position: relative; padding-right: 30px;}
.boradTable tr td.addPop i.fa-plus-circle{position: absolute; top: 50%; right: 4px; margin-top: -12px; padding: 4px; font-size: 16px; cursor: pointer;}


/* 공지사항 첨부박스 */
.noticeAttchBox{width: 100%;}
.noticeAttchBox .noticeAttchTit{width: 12%; padding: 4px 55px; font-size: 14px; line-height: 26px; color: #ffffff; background-color: #05141f;}
.noticeAttchBox .noticeAttchCont{border: 1px solid #aaaaaa; padding: 10px; clear:both;}
.noticeAttchBox .noticeAttchCont ul li{float: left; width: 25%;}

/* 메세지 창 */
.mssgBox{width: 100%; padding: 15px;}
.mssgBox .mssgWBox{height: 155px;}
.mssgBox .mssgWBox .mssgWTit {display: block; font-size: 13px; line-height: 36px;}
.mssgBox .mssgWBox .mssgTextBox .mssgText{height: 85px; border-color: #777777; resize: none;}
.mssgBox .mssgWBox .btnBox{margin-top: 4px;}
.mssgBox .mssgRBox{height: calc(100% - 220px); margin-left: -15px; overflow-y: auto;}
.mssgBox .mssgRBox > ul{padding-top: 10px;}
.mssgBox .mssgRBox > ul > li{padding: 0 15px; border-left: 3px solid #1a3b5e;}
.mssgBox .mssgRBox > ul > li + li{margin-top: 10px;}
.mssgBox .mssgRBox .mssgRTit{font-size: 12px; line-height: 24px;}
.mssgBox .mssgRBox .mssgRTit span{display: inline-block;}
.mssgBox .mssgRBox .mssgRTit .name{position: relative; padding-right: 5px;}
.mssgBox .mssgRBox .mssgRTit .name:after{content: ''; position: absolute; top: 6px; right: 1px; display: block; width: 1px; height: 12px; background-color: #000000;}
.mssgBox .mssgRBox .mssgRTit .dot{position: relative; display: inline-block; font-size: 16px; color: #9a9a9a;}
.mssgBox .mssgRBox .mssgRTit .dot i{cursor: pointer;}
.mssgBox .mssgRBox .mssgRTit .dot .dropDown{display: none;}
.mssgBox .mssgRBox .mssgRTit .dot .dropDown{position: absolute; top: 16px; right: 0;}
.mssgBox .mssgRBox .mssgRTit .dot .dropDown ul{min-width: 50px; border: 1px solid #444444; text-align: center;}
.mssgBox .mssgRBox .mssgRTit .dot .dropDown ul li + li{margin: 0 5px; border-top: 1px solid #444444;}
.mssgBox .mssgRBox .mssgRTit .dot .dropDown ul li a{display: block; font-size: 12px;}
.mssgBox .mssgRBox .mssgRText{font-size: 14px; line-height: 24px;}
.mssgBox .mssgBBox{height: 55px; margin: 10px 15px 0; border-top: 1px solid #cacdd0;}
.mssgBox .mssgBBox .btnBox{margin: 15px auto 0;}
.mssgBox .mssgBBox .btnBox .btn{width: 100%; height: 40px; line-height: 40px; font-size: 16px; color: #ffffff; background-color: #1f79ba;}

/* pagination */
.pagination{font-size: 0px; text-align: center; margin-top: 25px;}
.pagination *{display: inline-block; vertical-align:middle; }
.pagination li,.pagination button{margin: 0px 0 0 3px;  }
.pagination li a{width:30px; height:30px; color:#aaaaaa; font-size:13px; line-height:30px; text-decoration: none; border: 1px solid #b9b9b9; background:#fff; text-align: center; outline: none;}
.pagination li a:hover{color: #ffffff; background: #9fa0a0; border: 1px solid #9fa0a0; font-weight: bold;}
.pagination li.active a{color: #424242; text-decoration: underline; border-color: #9fa0a0; font-weight: bold; }
.pagination li.active a:hover{background:#ffffff;color: #424242; font-weight: bold; cursor: default;}
.pagination .prev{margin-right: 10px;}
.pagination .next{margin-left: 10px;}
.pagination .first a, .pagination .prev a, .pagination .next a, .pagination .last a{color: #424242;}

/* ==============================
 * component
 * ============================== */

/* input */
input[type=text],input[type=password],input[type=email],input[type=number],input[type=search] {height: 24px; padding: 0 10px 0 10px; border: 1px solid #d2d2d2; font-size: 12px; line-height: normal; box-sizing: border-box; vertical-align: middle; }
input:focus-visible{outline: 1px inset #7f7f7f;}
table input[type=text],table input[type=password],table input[type=email],table input[type=number] {width: 100%; height: 24px; border-color: #d2d2d2; font-size: 12px; color: #555555; }
input[type=number]{padding-right: 0px; width: 60px !important;}
input[type=number] + span{margin-left: 10px;}
textarea{width: 100%; border: 1px solid #d2d2d2; padding: 10px; color: #7f7f7f;}

input.disabled,input:disabled{background: #ececed !important; }
input.red{color: #002c5f; background: #e9f4f8;}

/* placeholder */
::-webkit-input-placeholder {color: #cdcdcd;}
::-moz-placeholder {color: #cdcdcd;}
:-ms-input-placeholder {color: #cdcdcd;}
:-moz-placeholder {color: #cdcdcd;}

/* selectBox */
.selectbox{ position: relative; border: 1px solid #d2d2d2; z-index: 1; display: inline-block; font-size: 12px; vertical-align: middle; background: #fff; } 
.selectbox:before {content: ""; position: absolute; top: 50%; right: 10px;  width: 10px; height: 8px; margin-top: -4px;background: url(../images/ir_icon.png) no-repeat -124px -6px;}

.selectbox label { position: absolute; top: 0px; left: 0px; padding: 0px 30px 0 10px; color: #424242; height: 24px; line-height: 24px; z-index: -1; width: 100%; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  }
.selectbox select { color:#333; width: 100%; height: 22px; line-height: normal; border: 0; opacity: 0; filter:alpha(opacity=0); -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; padding: 0px 30px 0 10px; }
select::-ms-expand {display:none}

/* radio,radio solo, check group */
.radioGroup{display: inline-block; text-align: left; vertical-align: middle; font-size: 0px;}
.radioGroup label,.radioDefault{display: inline-block; vertical-align: middle; margin: 5px 5px;}
.radioGroup label:first-of-type{margin-left: 0px;}
.radioGroup input[type=radio],.radioDefault input{opacity: 0; display: none;}
.radioGroup input[type=radio] + span,.radioDefault span{display: inline-block; position: relative; font-size: 12px; color: #424242; vertical-align: middle; cursor: pointer; margin: 0 0 0 5px; padding:0 0 0 20px; line-height: 1;}
.radioGroup input[type=radio] + span:before ,.radioDefault span:before{content: ''; display: inline-block; width: 14px; height: 14px; border: 1px solid #7f7f7f; box-sizing: border-box; border-radius: 50%; background: #fff; vertical-align: middle; position: absolute; left: 0px; top: 4px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); margin-top: 1px;}
.radioGroup input[type=radio]:checked + span,.radioDefault input:checked  + span{color: #002c5f;}
.radioGroup input[type=radio]:checked + span:before,.radioDefault input:checked + span:before {border-color:#002c5f;}
.radioGroup input[type=radio]:checked + span:after ,.radioDefault input:checked + span:after{content: ''; display: inline-block; position: absolute; left: 4px; width: 6px; height: 6px; background: #002c5f; border-radius: 50%; top: 4px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); margin-top: 1px;}
input[type=radio]:disabled + span{opacity: 0.6;}
input[type=radio]:disabled + span:before{background-color: #ddd;}

.radioGroup.vertical,.chkGroup.vertical{padding: 10px 0; display: inline-block;}
.radioGroup.vertical label,.chkGroup.vertical label{display: block; margin: 10px 0;}
.chkGroup.vertical input + span:before{top: 0;}

/* checkbox */
.chkDefault{display: inline-block; margin: 5px; position: relative;}
.chkDefault:first-of-type{margin-left: 0px;}
.chkDefault:first-of-type span{margin-left: 0px;}
.chkDefault input{opacity: 0; display: none;}
.chkDefault input + span {display: inline-block; position: relative; padding-left: 20px; font-size: 12px; color: #7f7f7f; line-height: 14px; vertical-align: middle; cursor: pointer; margin: 0 0 0 5px;}
.chkDefault input + span:before {content: ''; display: block; position: absolute; left: 0; top: 0; width: 14px; height: 14px; border: 1px solid #7f7f7f; box-sizing: border-box; border-radius: 1px; background: #fff;}
.chkDefault input[type=checkbox]:checked + span:before {border-color: #002c5f;}
.chkDefault input[type=checkbox] + span:after {content: ''; display: block; position: absolute; left: 2px; top: 3px; width: 10px; height: 7px;}
.chkDefault input[type=checkbox]:checked + span:after{background: url("../images/ir_icon.png") no-repeat -142px -6px;}
.chkDefault input[type=checkbox]:disabled + span{opacity: 0.6;}
.chkDefault input[type=checkbox]:disabled + span:before {border-color: #ccc; background: #ddd;}

.chkDefault.single{margin: 0px;}
.chkDefault.single input + span{width: 14px; height: 14px; padding: 0; font-size: 0; text-indent: -9999px; margin-bottom: 1px; border-color: #b5b5b5;}
.chkDefault.single input + span:before {content: ''; display: block; position: absolute; left: 0; top: 0; width: 14px; height: 14px; border: 1px solid #b5b5b5; box-sizing: border-box; border-radius: 1px; background: #fff;}

.chkDefault.shbox{margin-right: 10px;}
.chkDefault.shbox input + span{color:#424242;}

/* round style */
.stand{border-radius: 5px; padding: 5px 8px; color: #ffffff; background-color: #8db3b3;}
.done{border-radius: 5px; padding: 5px 8px; color: #ffffff; background-color: #b2b2b2;}