* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family:'S-CoreDream-3Light', sans-serif;
    background:url('../img/bg.png');

}



@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#login_warp {
  
    max-width: 740px;
    max-height: 400px;
    width: 100%;
  margin: 0 auto;
  
}
.sub_title {margin: 20px 10px ;}
.login_body {
    margin-top:30%;
    float: left;
    width: 740px;
    background: #ffffff 0% 0% no-repeat padding-box;
box-shadow: 1px 2px 3px #ccc;
opacity: 1;
}
.left_img
{
    width: 300px;
    height:400px;
    
    float: left;
    
    
}

.login_form
{
    float: left;
    width: 410px;
    padding: 15px;}
.validate-form  
{padding:0px 40px; width:380px; margin: 0 20px;} 
.login-form-title {
  line-height: 80px;
  font-size: 20px; 
  font-family: 'S-CoreDream-6Bold', sans-serif;
  text-align: left;
    color:
    #666;
    }


    .wrap-input {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-bottom: 15px;
      }
      
      .input {
        font-size: 12px;
        line-height: 1.5;
        color: #666666;
        border:1px solid #eaeaea;
        display: block;
        width: 100%;
        background: #fff;
        height: 40px;

        width: 300px;
        padding: 0 10px 0 20px;
      }

      select {
        border:1px solid #DBDDE5;
       
        font-size: 12px;
        padding: 4px 8px;
      }

      .input .user{
        background-image: url("../img/Icon-user.png");
        background-position: 5px 14px;
        background-repeat: no-repeat;
      }
      
      .input .key{
        background-image: url("../img/Icon-key.png");
        background-position: 5px 14px;
        background-repeat: no-repeat;
      }
      
      
      .lang { float:right; text-align: right; margin-top: 30px;}

      input:focus ,button:focus, select:focus
      {outline:none;}

      .input:focus {
      
        width: 100%;
        background: #fefefe;
    
       border:1px solid #79a3dc;
        padding: 0 10px 0 20px;
       
        
      }
      .login-form-btn
      {
        width: 300px;
        text-align: center;
          background:#79a3dc;
          color:#fff;
          
          padding: 10px;
          font-size:16px;
          border: none;
      } 
      .join-form-btn
      {
        width: 300px;
        text-align: center;
          background:#9fa0a0;
          color:#fff;
          margin-top: 10px;
          padding: 10px;
          font-size:16px;
          border: none;
      } 
.txt1 {width: 50%; font-size:14px;}
      .text-center { margin-top: 10px; }
      .lost {color:#666;}
      .lost:link {color:#333; text-decoration: none;}
      .lost:hover {color:#005b9f; text-decoration: none;}
.copy {font-size: 12px; margin-top: 20px; text-align: center; color:#666;}
.blue {color:#005b9f}
.mar {margin-left: 50px;}